@import '../base.css';
@import '../layout.css';

/* Container zentrieren und im oberen Drittel platzieren */
.search-container {
  display: flex;
  align-items: center; /* Vertikale Zentrierung der Elemente */
  justify-content: center; /* Horizontale Zentrierung der Elemente */
  margin-top: 5vh; /* Position im oberen Drittel */
  gap: 10px; /* Abstand zwischen den Elementen */
}

/* Kasten für die Eingabefelder */
/* Kasten für die Eingabefelder */
.search-box {
  display: flex;
  gap: 10px;
  border: 8px solid #009260 !important; /* Dicker Rand */
  padding: 10px;
  border-radius: 8px;
  background-color: white; /* Hintergrundfarbe auf Weiß setzen */
}

/* Eingabefelder */
#departure-input,
#destination-input {
  width: 250px; /* Breite der Felder */
  padding: 10px;
  border: 2.5px solid white;
  border-radius: 4px;
  font-size: 20px;
  background-color: white; /* Hintergrundfarbe der Eingabefelder auf Weiß setzen */
  color: #333; /* Schriftfarbe für den Text */
}

/* Such-Button */
#search-button {
  padding: 10px 20px;
  border: none;
  background-color: #a4dfce;
  color: white;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}

#search-button:hover {
  background-color: #009260
  ;
}


