@import '../base.css';
@import '../layout.css';

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2.5%;  /* Adjust positioning as needed */
}

#search-input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px 0 0 4px;  /* Rounded corners on left side */
    width: 60%;  /* Adjust width as needed */
    outline: none;
}

#search-button {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-left: none;  /* Remove border between input and button */
    border-radius: 0 4px 4px 0;  /* Rounded corners on right side */
    background-color: #009260;  /* Button color */
    color: white;
    cursor: pointer;
}

#search-button:hover {
    background-color: #1aaf7b;  /* Darker shade on hover */
}

#filter-button img {
    width: 30px; /* Breite des Bildes */
    height: auto; /* Höhe wird automatisch angepasst */
  }